* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

:root {
  --correct: #6AAA64;
  --present: #C9B458;
  --absent: #787C7E;
  --empty: #d3d6da;
  --filled: #a9a9a9;
  --hover: #e1e6eb;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-left {
  flex: 1;
}

#menu-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-right: 15px;
}

#menu-right > button {
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  margin: 2px;
  padding: 5px;
}

#menu-right > button:hover {
  background-color: var(--hover);
}

#menu-right > button > span {
  font-size: 32px;
}

#title {
  position: relative;
  z-index: 0;
  padding: 15px;
  margin-right: -20px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.title-tile {
  /* box */
  border: 2px solid var(--empty);
  border-radius: 5px;
  width: 32px;
  height: 32px;
  margin: 1.5px;

  /* text */
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  margin: auto;
  color: var(--empty);
}

.modal {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46%);
  z-index: 2;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.2);
  max-width: 540px;
  width: 100%;
  height: 88%;
}

#instructions-modal-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 32px;  
}

#stats-modal-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 32px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
  z-index: 1;
}

.hidden {
  display: none;
}

.close-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

h2 {
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

h3 {
  font-size: 17px;
}

ul > li {
  margin: 10px 0 0 20px;
  line-height: 22px;
}

.examples {
  margin-top: 20px;
}

.example {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px;
}

.example > p {
  margin-left: 5px;
}

.example-tile-container {
  display: flex;
  margin-bottom: 10px;
}

.example-tile {
    /* box */
    border: 2px solid var(--empty);
    width: 32px;
    height: 32px;
    margin: 2.5px;
  
    /* text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.stats-num {
  font-size: 65px;
}

#guess-distribution {
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

#distribution {
  width: 100%;
}

.guess-container {
  width: 100%;
  text-align: end;
  color: white;
  padding: 2px;
}

.guess-bar {
  background-color: var(--absent);
  padding: 3px 10px 3px 0px;
  font-weight: 500;
}

#countdown {
  font-size: 50px;
  letter-spacing: 2px;
  text-align: center;
}

#board {
  width: 350px;
  height: 425px;
  margin: 23px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.board-tile {
  /* box */
  border: 2px solid var(--empty);
  width: 60px;
  height: 60px;
  margin: 2.5px;

  /* text */
  color: black;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 150ms linear;
}

.board-tile[data-state="active"] {
  border: 2px solid var(--filled);
}

.board-tile.bounce {
  animation: bounce 200ms ease-in-out forwards;
}

.board-tile.flip {
  transform: rotateX(90deg);
}

.board-tile.shake {
  animation: shake 200ms ease-in-out forwards;
}

.board-tile.dance {
  background-color: var(--correct);
  border-color: var(--correct);
  color: white;
  animation: dance 500ms ease-in-out;
}

.keyboard-row {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.keyboard-tile {
  /* box */
  background-color: var(--empty);
  border: 1px solid var(--empty);
  border-radius: 5px;
  width: 42px;
  height: 60px;
  margin: 3px;

  /* text */
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter-keyboard-tile {
  /* box */
  background-color: var(--empty);
  border: 1px solid var(--empty);
  border-radius: 5px;
  width: 65px;
  height: 60px;
  margin: 3px;

  /* text */
  color: black;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backspace-keyboard-tile {
  /* box */
  background-color: var(--empty);
  border: 1px solid var(--empty);
  border-radius: 5px;
  width: 65px;
  height: 60px;
  margin: 3px;

  /* text */
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard-tile:hover, .enter-keyboard-tile:hover, .backspace-keyboard-tile:hover {
  background-color: var(--hover);
  border-color: var(--hover);
  color: black;
}

.correct {
  background-color: var(--correct);
  border-color: var(--correct);
  color: white;
}
  
.present {
  background-color: var(--present);
  border-color: var(--present);
  color: white;
}
  
.absent {
  background-color: var(--absent);
  border-color: var(--absent);
  color: white;
}

#message-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; 
  margin: 50px auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  width: max-content;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 10px; 
  padding: 2px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: bold;
  pointer-events: none;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.alert:last-child {
  margin-bottom: 0;
}

.message.hide {
  opacity: 0;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes dance {
  20% {
    transform: translateY(-50%);
  }
  40% {
    transform: translateY(5%);
  }
  60% {
    transform: translateY(-25%);
  }
  80% {
    transform: translateY(2.5%);
  }
  90% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}
