* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: center;
}

#title {
  position: relative;
  z-index: 0;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-tile {
  /* box */
  border: 2px solid #d3d6da;
  border-radius: 5px;
  width: 32px;
  height: 32px;
  margin: 1.5px;

  /* text */
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  width: 700px;
  margin: auto;
  color: #d3d6da;
}

#board {
  width: 350px;
  height: 425px;
  margin: 23px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.board-tile {
  /* box */
  border: 2px solid #d3d6da;
  width: 60px;
  height: 60px;
  margin: 2.5px;

  /* text */
  color: black;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-tile[data-state="active"] {
  border: 2px solid darkgray;
  animation: bounce 200ms ease-in-out forwards;
}

.board-tile.shake {
  animation: shake 200ms ease-in-out forwards;
}

.board-tile.dance {
  background-color: #6AAA64;
  border-color: #6AAA64;
  color: white;
  animation: dance 500ms ease-in-out;
}

.keyboard-row {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.keyboard-tile {
  /* box */
  background-color: #d3d6da;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 42px;
  height: 60px;
  margin: 3px;

  /* text */
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter-keyboard-tile {
  /* box */
  background-color: #d3d6da;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 65px;
  height: 60px;
  margin: 3px;

  /* text */
  color: black;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backspace-keyboard-tile {
  /* box */
  background-color: #d3d6da;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 65px;
  height: 60px;
  margin: 3px;

  /* text */
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  background-color: #6AAA64;
  border-color: #6AAA64;
  color: white;
}
  
.present {
  background-color: #C9B458;
  border-color: #C9B458;
  color: white;
}
  
.absent {
  background-color: #787C7E;
  border-color: #787C7E;
  color: white;
}

.correct-flip {
  --background-color: #6AAA64;
  --border-color: #6AAA64;
  animation: flip 0.5s ease forwards;
}
  
.present-flip {
  --background-color: #C9B458;
  --border-color: #C9B458;
  animation: flip 0.5s ease forwards;
}
  
.absent-flip {
  --background-color: #787C7E;
  --border-color: #787C7E;
  animation: flip 0.5s ease forwards;
}

#message-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; 
  margin: 50px auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 10px; 
  padding: 2px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: bold;
  pointer-events: none;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.alert:last-child {
  margin-bottom: 0;
}

.message.hide {
  opacity: 0;
}

/* animations */
@keyframes flip {
  0% {
    transform: rotateX(0);
    background-color: white;
    border-color: darkgray;
  }
  45% {
    transform: rotateX(90deg);
    background-color: white;
    border-color: darkgray;
  }
  55% {
    transform: rotateX(90deg);
    background-color: var(--background-color);
    border-color: var(--border-color);
  }
  100% {
    transform: rotateX(0);
    background-color: var(--background-color);
    border-color: var(--border-color);
    color: white;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes dance {
  20% {
    transform: translateY(-50%);
  }
  40% {
    transform: translateY(5%);
  }
  60% {
    transform: translateY(-25%);
  }
  80% {
    transform: translateY(2.5%);
  }
  90% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}
